*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	height: 100vh;
	background-color: #ffffff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.grid-section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
	flex-wrap: wrap;
}
.grid-button {
	width: 25px;
	height: 25px;
	/* background-color: black; */
}
.button-black-color {
	background-color: black;
}
